@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wdth,wght@75..112.5,100..800&display=swap');
@import "tailwindcss";

@theme {
  --font-martian: "Martian Mono", monospace;
}

html, body {
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: var(--background);
  color: var(--text);
}

@layer base {
  :root {
    --text: #042009;
    --background: #edfdef;
    --primary: #23e146;
    --secondary: #7cbdee;
    --accent: #617aea;
  }
  .dark {
    --text: #dffbe4;
    --background: #021204;
    --primary: #1edc41;
    --secondary: #115283;
    --accent: #152e9e;
  }
}