---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/navbar.astro';
import '../styles/global.css';
---
<Layout>
<Nav />
<div class="m-5">
<h1 class="text-4xl font-bold text-left mt-10 mb-3">About Me</h1>
<p class="text-xl">My name is Vejas</p>
<p class="">I like to make electronics projects and play piano</p>
</div>
</Layout>