---
import '../styles/global.css';  
import Layout from '../layouts/Layout.astro';
import Nav from '../components/navbar.astro';
---
<Layout>
  <Nav />
  <div class="">
<!-- modify this form HTML and place wherever you want your form -->
<form
  action="https://formspree.io/f/xkgpjvlz"
  method="POST"
>
  <label>
    Your email:
    <input type="email" name="email">
  </label>
  <label>
    Your message:
    <textarea name="message"></textarea>
  </label>
  <!-- your other form fields go here -->
  <button type="submit">Send</button>
</form>
</div>
</Layout>