---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/navbar.astro';
import '../styles/global.css';
import Vector from '../assets/Vector.svg?url';
---
<Layout>
<Nav />
<h1 class="text-4xl font-bold text-center mt-10">Welcome to vejas.zip!</h1>
<img src={Vector} alt="lasvejas" class="mx-auto my-5" />
</Layout>
