---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
---
<Layout>
	<div class="object-center w-auto h-auto flex justify-center">
		<a href="#"><img src="../src/assets/Vector.svg" class="h-30 w-40 object-center" alt=""></a>
	</div>
	<div class="grid grid-cols-3 mx-auto p-5 text-center bg-black text-white gap-6">
		<h1 class="border-2 border-lime-300 text-center content-center ">Vejas's Site</h1>
		<p class="border-2 border-solid border-amber-300">Welcome to vejas.zip!</p>
		<div class="border-2 border-red-500 content-center">i hate tailwind</div>
		<div class="border-2 border-blue-300 content-center">i should learn normal css first</div>
	</div>
</Layout>
