---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/navbar.astro';
import '../styles/global.css';
---
<Layout>
<Nav />
<div class="mx-10 p-1 my-5 border">
	<p class="border-2 bg-gray-300/26 rounded-xl border-green-300">This is a new div</p>
</div>
	<div class="grid grid-cols-5 mx-auto p-1 text-center text-black gap-6 border">
		<div class="border bg-gray-300/25 rounded-xl  border-lime-400 text-center content-center ">Vejas's Site</div>
		<div class="border bg-gray-300/25 rounded-xl border-amber-400 text-center content-center">Welcome to vejas.zip!</div>
		<div class="border bg-gray-300/25 rounded-xl border-red-400 text-center content-center">i hate tailwind</div>
		<div class="border bg-gray-300/25 rounded-xl border-blue-400 text-center content-center">i should learn normal css first</div>
		<div class="border bg-gray-300/25 rounded-xl border-lime-400 text-center content-center ">Vejas's Site</div>
		<div class="border bg-gray-300/25 rounded-xl border-amber-400 text-center content-center">Welcome to vejas.zip!</div>
		<div class="border bg-gray-300/25 rounded-xl border-red-400 text-center content-center">i hate tailwind</div>
		<div class="border bg-gray-300/25 rounded-xl border-blue-400 text-center content-center">i should learn normal css first</div>
		<div class="border bg-gray-300/25 rounded-xl border-lime-400 text-center content-center ">Vejas's Site</div>
		<div class="border bg-gray-300/25 rounded-xl border-amber-400 text-center content-center">Welcome to vejas.zip!</div>
		<div class="border bg-gray-300/25 rounded-xl border-red-400 text-center content-center">i hate tailwind</div>
		<div class="border bg-gray-300/25 rounded-xl border-blue-400 text-center content-center">i should learn normal css first</div>
		<div class="border bg-gray-300/25 rounded-xl border-lime-400 text-center content-center ">Vejas's Site</div>
		<div class="border bg-gray-300/25 rounded-xl border-amber-400 text-center content-center">Welcome to vejas.zip!</div>
		<div class="border bg-gray-300/25 rounded-xl border-red-400 text-center content-center">i hate tailwind</div>
		<div class="border bg-gray-300/25 rounded-xl border-blue-400 text-center content-center">i should learn normal css first</div>
	</div>
</Layout>
