---
import Nav from '../components/navbar.astro';
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';

---
<head></head>
    <title>vejas.zip - projects</title>
</head>
<Layout>
<Nav />
<div class="text-center">
<h1 class="text-4xl font-bold text-center mt-10 mb-3">My Projects</h1>

<p class="text-center text-xl mx-10 my-4">I really like working on hardware projects (even though im a beginner at electronics). My projects consist of some (wannabe)keyboards and other little things. </p>

<div class="m-5 grid grid-cols-1 md:grid-cols-3 gap-4">

    <div class="bg-primary/15 rounded border border-primary dark:border-primary-dark">
        <h2 class="text-2xl font-semibold text-center mt-3">Wind75</h2>
        <img class="rounded rotate-90 w-1rem h-relative" src="" alt="">
        <p class="m-3">A 75% keyboard that is a total work in progress.</p>
    </div>

    <div class="bg-primary/15 rounded border border-primary">
        <h2 class="text-2xl font-semibold text-center mt-3">Wind16</h2>
        <img class="rounded rotate-90 w-1rem h-relative" src="" alt="">
        <p class="m-3">Description of project 2</p>
    </div>

    <div class="bg-primary/15 rounded border border-primary">
        <h2 class="text-2xl font-semibold text-center mt-3">Wind47</h2>
        <img class="rounded rotate-90 w-1rem h-relative" src="" alt="">
        <p class="m-3">This is a 60% ortholinear keyboard with a lot of flaws... </p>
    </div>

    <div class="bg-primary/15 rounded border border-primary">
        <h2 class="text-2xl font-semibold text-center mt-3">Vejas2040</h2>
        <img class="rounded rotate-90 w-1rem h-relative" src="" alt="">
        <p class="m-3">This is a split ergonomic keyboard with a numpad on the right side. </p>
    </div>

    <div class="bg-primary/15 rounded border border-primary">
        <h2 class="text-2xl font-semibold text-center mt-3">WindF12</h2>
        <img class="rounded rotate-90 w-1rem h-relative" src="" alt="">
        <p class="m-3"></p>
    </div>

</div>
</div>
</Layout>