---
import Nav from '../components/navbar.astro';
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';

---
<Layout>
<Nav />
<div class="text-center">
<h1 class="text-4xl font-bold text-center mt-10">My Projects (wip)</h1>

<p class="text-center text-xl">I really like working on hardware projects (even though im a beginner at electronics). </p>

<div class="m-5 grid grid-cols-1 md:grid-cols-3 gap-4">

    <div class="bg-gray-300/25 rounded border border-gray-300">
        <h2 class="text-2xl font-semibold text-center mt-3">Project 1</h2>
        <img class="rounded rotate-90 w-1rem" src="" alt="">
        <p class="m-3">Description of project 1</p>
        <div>
            
        </div>
    </div>

    <div class="bg-gray-400/50 rounded border border-gray-300">
        <h2 class="text-2xl font-semibold text-center mt-3">Project 2</h2>
        <p class="m-3">Description of project 2</p>
    </div>

    <div class="bg-gray-400/50 rounded border border-gray-300">
        <h2 class="text-2xl font-semibold text-center mt-3">Project 3</h2>
        <p class="m-3">Description of project 3</p>

    </div>
</div>
</div>
</Layout>