---
import htmlgif from "../assets/88x31/html.gif?url";
import viewcomputer from "../assets/88x31/IMG_0036.gif?url";
import applegif from "../assets/88x31/apple.gif?url";
---


<div>
    <div class="flex columns-5 space-x-4">
        <img src={viewcomputer} alt="">
        <img src={htmlgif} alt="">
        <img src={applegif} alt=""> 
    </div>
</div>